USE [CA_ODS]
GO
/****** Object:  Table [dbo].[ref_plcm_setting_xwalk]    Script Date: 5/25/2023 12:44:17 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ref_plcm_setting_xwalk]') AND type in (N'U'))
DROP TABLE [dbo].[ref_plcm_setting_xwalk]
GO
/****** Object:  Table [dbo].[ref_plcm_setting_xwalk]    Script Date: 5/25/2023 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ref_plcm_setting_xwalk](
	[cd_plcm_setng] [int] NOT NULL,
	[tx_plcm_setng] [varchar](200) NULL,
	[berk_tx_plcm_setng] [varchar](200) NULL,
	[berk_cd_plcm_setng] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cd_plcm_setng] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
