USE [CA_ODS]
GO
/****** Object:  Table [dbo].[ref_last_month_qtr_yr]    Script Date: 5/25/2023 12:44:17 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ref_last_month_qtr_yr]') AND type in (N'U'))
DROP TABLE [dbo].[ref_last_month_qtr_yr]
GO
/****** Object:  Table [dbo].[ref_last_month_qtr_yr]    Script Date: 5/25/2023 12:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ref_last_month_qtr_yr](
	[date_type] [int] NOT NULL,
	[end_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[date_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
